/*Movile first*/
* {
	box-sizing: border-box;
	font-family: sans-serif, Arial, Helvetica;
	list-style: none;
	margin: 0%;
	padding: 0%;
	text-decoration: none;
}
/*Contenedor de toda la página para filas y columnas para los div*/
.contenedor-filas-columnas {
	height: auto;
	margin: auto;
	position: relative;
	width: 100%;
}
/*Columna de posición del header*/
.caja-header {
	float: left;
	width: 100%;
	background: rgb(61, 58, 58);
}
.imagen-header {
	float: left;
	width: 100%;
}
.logo {
	width: 100%;
}
.titulo-header {
	float: left;
	width: 100%;
}
.h1-header {
	color: #fff;
	text-align: center;
	font-size: 15px;
	width: 100%;
	padding: 3% 0%;
}
/*Mapa*/
.columnamapa{
    float: left;
    width: 100%;
}
.mapa {
}
.mapa ul {
}
.mapa ul li {
    display: inline;
}
.amapa{
    font-size: 14px;
    font-weight: bold;
    padding: 1%;
}
/*Avisos*/
.caja-avisos {
    float: left;
	width: 100%;
}
.avisos {
	background: rgb(100, 224, 224);
	float: left;
    width: 100%;
    padding: 2%;
}
.h4avisos {
    float: left;
	text-align: center;
    font-size: 23px;
    width: 100%;
}
.columna-avisos {
	float: left;
	width: 100%;
	font-size: 12px;
}
.imagen_avisos {
	width: 100%;
	padding: 20%;
	padding-bottom: 0%;
	padding-top: 10%;
}
.h6-avisos {
    float: left;
	font-size: 25px;
    padding: 2%;
    text-align: center;
	width: 100%;
}
.p-avisos {
    font-size: 25px;
    padding: 2%;
    white-space: normal;
	white-space: pre-wrap;
}
/*Footer*/
.columna-footer {
	background: rgb(61, 58, 58);
	float: left;
	text-align: center;
	padding: 3%;
	width: 100%;
	border-top: solid aqua;
}
.a-footer {
	color: #fff;
	font-size: 17px;
}
.link-footer {
	color: #fff;
	font-size: 17px;
}
.pfooter {
	color: #fff;
	font-size: 23px;
	padding: 5% 0% 0% 0%;
}
@media (min-width: 768px) {
   /*Header*/
	.caja-header {
		float: left;
		width: 100%;
		background: rgb(61, 58, 58);
   }
	.imagen-header {
		float: left;
		padding-left: 10%;
		width: 30%;
   }
	.logo {
		width: 100%;
   }
	.titulo-header {
		float: left;
		padding-right: 10%;
		width: 70%;
   }
	.h1-header {
		color: #fff;
		text-align: right;
		font-size: 18px;
		width: 100%;
   }
   /*Avisos*/
.caja-avisos {
    float: left;
	width: 100%;
}
.avisos {
	background: rgb(100, 224, 224);
	float: left;
    width: 100%;
    padding: 1%;
}
.h4avisos {
    float: left;
	text-align: center;
    font-size: 23px;
    width: 100%;
}
.columna-avisos {
	float: left;
	width: 100%;
	padding: 0% 20%;
	font-size: 12px;
}
.imagen_avisos {
	width: 100%;
	padding: 5% 20% 5% 20%;
}
.h6-avisos {
    float: left;
	font-size: 25px;
    padding: 2%;
	width: 100%;
}
.p-avisos {
    font-size: 25px;
    padding: 2%;
    white-space: normal;
	white-space: pre-wrap;
}
/*Footer*/
.columna-footer {
	background: rgb(61, 58, 58);
	float: left;
	text-align: center;
	padding: 3%;
	width: 100%;
}
.pfooter {
	color: #fff;
	font-size: 23px;
}
.columna-footer ul li a {
	color: #fff;
	font-size: 22px;
}
/*Footer*/
.columna-footer {
	background: rgb(61, 58, 58);
	width: 100%;
	float: left;
	padding: 5% 10% 2% 10%;
	text-align: center;
}
.ul-footer {
	float: left;
	width: 40%;
	text-align: left;
	
}
.a-footer {
	color: #fff;
	text-align: left;
	padding: 1% 0%;
	font-size: 18px;
}
.pfooter-1 {
	float: left;
	width: 60%;
	text-align: right;
}
.link-footer {
	color: #fff;
	font-size: 18px;
}

.pfooter {
	color: #fff;
	font-size: 22px;
	float: left;
	width: 100%;
	font-weight: bold;
}
}
@media (min-width: 1024px) {
   /*Header*/
	.caja-header {
		float: left;
		width: 100%;
		background: rgb(61, 58, 58);
   }
	.imagen-header {
		float: left;
		padding-left: 10%;
		width: 30%;
   }
	.logo {
		width: 100%;
   }
	.titulo-header {
		float: left;
		padding-right: 10%;
		width: 70%;
   }
	.h1-header {
		color: #fff;
		text-align: right;
		font-size: 24px;
		width: 100%;
   }
  /*Avisos*/
.caja-avisos {
    float: left;
	width: 100%;
}
.avisos {
	background: rgb(100, 224, 224);
	float: left;
    width: 100%;
    padding: 0%;
}
.h4avisos {
    float: left;
	text-align: center;
    font-size: 29px;
    width: 100%;
}
.columna-avisos {
	float: left;
	width: 100%;
	padding: 0% 10%;
	font-size: 12px;
}
.imagen_avisos {
    width: 100%;
	padding: 5% 35% 5% 35%;
}
.imagen_avisos_404 {
    width: 100%;
	padding: 5% 30% 0% 30%;
}
.h6-avisos {
    float: left;
	font-size: 31px;
    padding: 2%;
    text-align: center;
	width: 100%;
}
.h6-avisos-2 {
    float: left;
	font-size: 31px;
    padding: 2%;
    text-align: left;
	width: 100%;
}
.p-avisos {
    font-size: 25px;
    padding: 2%;
    white-space: normal;
	white-space: pre-wrap;
}
/*Footer*/
.columna-footer {
	background: rgb(61, 58, 58);
	width: 100%;
	float: left;
	padding: 2% 10%;
	text-align: center;
	border-top: solid aqua;
}
.ul-footer {
	float: left;
	width: 40%;
	text-align: left;
}
.a-footer {
	color: #fff;
	text-align: left;
	padding: 1% 0%;
	font-size: 27px;
}
.pfooter-1 {
	float: left;
	width: 60%;
	text-align: right;
}
.link-footer {
	color: #fff;
	font-size: 27px;
}
.pfooter {
	color: #fff;
	font-size: 29px;
	float: left;
	width: 100%;
	font-weight: bold;
	padding: 5% 0% 0% 5%;
}
}