* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  list-style: none;
}
.contenedor-filas-columnas{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}
/*Columna de posición del header*/
.caja-header {
  float: left;
  width: 100%;
}
.imagen-header {
  background: rgb(61, 58, 58);
  float: left;
  width: 100%;
}
.logo {
  width: 100%;
}
.titulo-header {
  background: rgb(61, 58, 58);
  float: left;
  width: 100%;
}
.h1-header {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 3% 0%;
  width: 100%;
}
/*Menu*/
.columna-nav{
  float: left;
  width: 100%;
  background: rgb(100, 224, 224);
  padding-right: 10%;
  padding-left: 10% 
}
.menu li {
  text-align: center;
  flex-grow: 1;
}
.menu li:hover{
  background: rgba(5, 5, 5, 0.3) 
}
.menu li a{
  display: block;
  padding: 1%;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/*Formulario buscar */
.input-100 {
  width: 70%;
  margin: 1% 1%;
  padding: 2%;
}
.boton_aceptar {
  background: rgb(61, 58, 58);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 1%;
}
/*Menu vertical*/
.menu ul {
  flex-direction: column;
}
/*Mapa*/
.columnamapa{
  float: left;
  width: 100%;
}
.mapa ul li {
  display: inline;
}
.amapa{
  font-size: 14px;
  font-weight: bold;
  padding: 1%;
}
/*formulario*/
.container{
  float: left;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 5% 0%;
}
.h2formulario{
  width: 90%;
  margin: 0% 5%;
  background: rgb(100, 224, 224);
  color: black;
  float: left;
  padding: 1%;
  font-size: 20px;
}
.labelform1{
  width: 90%;
  padding: 2% 0%;
  background: rgb(100, 224, 224);
  color: black;
  float: left;
  font-weight: bold;
  margin: 0% 5%;
}
.labelform{
  width: 100%;
  padding: 2% 0%;
  background: rgb(100, 224, 224);
  color: black;
  float: left;
  font-weight: bold;
  
}
.div_preguntas_botones{
  float: left;
  padding: 0% 5%;
  text-align: center;
  width: 100%;
}
.span_pregunta{
  float: left;
  padding: 1%;
  width: 32.33%;
  border: 2px rgb(100, 224, 224) solid;
  background: rgb(61, 58, 58);
  cursor: pointer;
  font-size: 12px;
  margin: .5% .5%;
  color: white;
  font-weight: bold;
}
.formulario{
  width: 90%;
  margin: 0% 5%;
  background: rgb(61, 58, 58);
  
}
.columna1{
  font-size: 20px;
  padding: 1%;
}
.columna2{
  padding: 1%;
}
.input{
  padding: 3% 1%;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
  margin: 0% 5%;
}
.input_textarea{
  padding: 3% 1%;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
  height: 200px;
  margin: 0% 5%;
  resize:none;
}
.boton_submit{
  width: 100%;
  padding: 5%;
}
.btn-enviar{
  background: rgb(97, 231, 255);
  color: black;
  margin: auto;
  display: block;
  padding: 2% 8%;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
/*Footer*/
.columna-footer {
	background: rgb(61, 58, 58);
	float: left;
	text-align: center;
	padding: 3%;
	width: 100%;
	border-top: solid aqua;
}
.a-footer {
	color: #fff;
	font-size: 17px;
}
.link-footer {
	color: #fff;
	font-size: 17px;
}
.pfooter {
	color: #fff;
	font-size: 23px;
	padding: 5% 0% 0% 0%;
}

@media (min-width: 768px) {
 /*Header*/
  .caja-header {
      float: left;
      width: 100%;
      background: rgb(61, 58, 58);
 }
  .imagen-header {
      float: left;
      padding-left: 10%;
      width: 30%;
 }
  .logo {
      width: 100%;
 }
  .titulo-header {
      float: left;
      padding-right: 10%;
      width: 70%;
 }
  .h1-header {
      color: #fff;
      text-align: right;
      font-size: 18px;
      width: 100%;
 }
 /*Menu*/
  .columna-nav{
      float: left;
      width: 100%;
      background: rgb(100, 224, 224);
      padding-right: 10%;
      padding-left: 10% 
 }
  .menu{
      padding-top: 0%;
      padding-left: 0%;
      padding-bottom: 0%;
      padding-right: 0%;
      display:block;
 }
  .menu ul {
      list-style: none;
      display: flex;
 }
  .menu li {
      text-align: center;
      flex-grow: 1;
 }
  .menu li:hover{
      background: rgba(5, 5, 5, 0.3) 
 }
  .menu li a{
      display: block;
      padding: 0%;
      color: rgb(0, 0, 0);
      text-decoration: none;
 }
  h3{
      font-size: 16px;
 }
 /*Formulario buscar */
  .input-100 {
      width: 65%;
      padding: 1%;
 }
  .boton_aceptar {
      background: rgb(61, 58, 58);
      color: white;
      cursor: pointer;
      font-size: 13px;
      font-weight: bold;
      padding: 1%;
 }
 /*Menu vertical*/
  .menu ul {
      flex-direction: row;
 }
 /*Mapa*/
  .columnamapa{
      float: left;
      width: 100%;
      padding: 1% 10%;
 }
  .mapa {
      padding-left: 5px;
 }
  .mapa ul {
      margin: 0;
      padding: 0;
      display: inline;
 }
  .mapa ul li {
      list-style: none;
      display: inline;
 }
  .amapa{
      font-size: 20px;
      font-weight: bold;
      padding: 1%;
 }
 /*formulario*/
  .container{
      float: left;
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 1% 0%;
 }
  .h2formulario{
      width: 70%;
      margin: 0% 15%;
      background: rgb(100, 224, 224);
      color: black;
      float: left;
      padding: 0%;
 }
 .div_preguntas_botones{
  float: left;
  padding: 0% 15%;
  text-align: center;
  width: 100%;
}
.span_pregunta{
  float: left;
  padding: 1%;
  width: 32.33%;
  border: 2px rgb(100, 224, 224) solid;
  background: rgb(61, 58, 58);
  cursor: pointer;
  font-size: 14px;
  margin: .5% .5%;
  color: white;
  font-weight: bold;
}
.labelform1{
  width: 70%;
  padding: .5% 0%;
  background: rgb(100, 224, 224);
  color: black;
  float: left;
  font-weight: bold;
  margin: 0% 15%;
}
  .labelform{
      width: 100%;
      padding: 1%;
      background: rgb(100, 224, 224);
      color: black;
      float: left;
      font-weight: bold;
 }
  .formulario{
      width: 70%;
      margin: 0% 15%;
      background: rgb(61, 58, 58);
 }
  .columna1{
      font-size: 20px;
      padding: 1%;
 }
  .columna2{
      padding: 1%;
 }
  .input{
      padding: 2% 1%;
      font-size: 16px;
      font-weight: bold;
      width: 90%;
      margin: 0% 5%;
 }
 .input_textarea{
  padding: 3% 1%;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
  height: 225px;
  margin: 0% 5%;
  resize:none;
}
  .boton_submit{
      width: 100%;
      padding: 2%;
 }
  .btn-enviar{
      background: rgb(97, 231, 255);
      color: black;
      margin: auto;
      display: block;
      padding: 2% 8%;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
 }
 /*Footer*/
 .columna-footer {
  background: rgb(61, 58, 58);
  width: 100%;
  float: left;
  padding: 5% 10% 2% 10%;
  text-align: center;
}
.ul-footer {
  float: left;
  width: 40%;
  text-align: left;
  
}
.a-footer {
  color: #fff;
  text-align: left;
  padding: 1% 0%;
  font-size: 18px;
}
.pfooter-1 {
  float: left;
  width: 60%;
  text-align: right;
}
.link-footer {
  color: #fff;
  font-size: 18px;
}

.pfooter {
  color: #fff;
  font-size: 22px;
  float: left;
  width: 100%;
  font-weight: bold;
 }

}
@media (min-width: 1024px) {
 /*Header*/
  .caja-header {
      float: left;
      width: 100%;
      background: rgb(61, 58, 58);
 }
  .imagen-header {
      float: left;
      padding-left: 10%;
      width: 30%;
 }
  .logo {
      width: 100%;
 }
  .titulo-header {
      float: left;
      padding-right: 10%;
      width: 70%;
 }
  .h1-header {
      color: #fff;
      text-align: right;
      font-size: 24px;
      width: 100%;
 }
 /*formulario*/
  .container{
      float: left;
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 0.5% 0%;
 }
  .h2formulario{
      width: 60%;
      margin: 0% 20%;
      background: rgb(100, 224, 224);
      color: black;
      float: left;
      padding: 1%;
 }
 .div_preguntas_botones{
  float: left;
  padding: 0% 20%;
  text-align: center;
  width: 100%;
}
.span_pregunta{
  float: left;
  padding: 1%;
  width: 32.33%;
  border: 2px rgb(100, 224, 224) solid;
  background: rgb(61, 58, 58);
  cursor: pointer;
  font-size: 14px;
  margin: .5% .5%;
  color: white;
  font-weight: bold;
}
.labelform1{
  width: 60%;
  padding: 0.5% 0%;
  background: rgb(100, 224, 224);
  color: black;
  float: left;
  font-weight: bold;
  margin: 0% 20%;
}
  .labelform{
      width: 100%;
      padding: 1%;
      background: rgb(100, 224, 224);
      color: black;
      float: left;
      font-weight: bold;
 }
  .formulario{
      width: 60%;
      margin: 0% 20%;
      background: rgb(61, 58, 58);
 }
  .columna1{
      font-size: 20px;
      padding: 1%;
 }
  .columna2{
      padding: 1%;
 }
  .input{
      padding: 2% 1%;
      font-size: 16px;
      font-weight: bold;
      width: 80%;
      margin: 0% 10%;
 }
 .input_textarea{
  padding: 3% 1%;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  height: 300px;
  margin: 0% 10%;
  resize:none;
}
  .boton_submit{
      width: 100%;
      padding: 2%;
 }
  .btn-enviar{
      background: rgb(97, 231, 255);
      color: black;
      margin: auto;
      display: block;
      padding: 2% 8%;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
 }
 /*Footer*/
 .columna-footer {
  background: rgb(61, 58, 58);
  width: 100%;
  float: left;
  padding: 2% 10%;
  text-align: center;
  border-top: solid aqua;
}
.ul-footer {
  float: left;
  width: 40%;
  text-align: left;
}
.a-footer {
  color: #fff;
  text-align: left;
  padding: 1% 0%;
  font-size: 27px;
}
.pfooter-1 {
  float: left;
  width: 60%;
  text-align: right;
}
.link-footer {
  color: #fff;
  font-size: 27px;
}
.pfooter {
  color: #fff;
  font-size: 29px;
  float: left;
  width: 100%;
  font-weight: bold;
  padding: 5% 0% 0% 5%;
 }

}